:root { 
--yellow_400:#faeb52; 
--gray_500:#9e9e9e; 
--black_900_1a:#0000001a; 
--gray_800:#383d45; 
--bluegray_100:#cccfd1; 
--white_A700:#ffffff; 
--gray_100:#f5f7fa; 
--black_900_26:#00000026; 
--black_900_0d:#0000000d; 
}